<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>  
  <div class="container"> 
    <div class="row"> 
      <div class="col-md-12"> 
        <form method="POST" action ="">   
          <div class="form-group row">
          {% csrf_token %}  
          <label class="col-md-2"> 
           <b>Select Food To App </b>
          </label> 
          <select class="col-md-6 form-control" name="food_consumed" id="food_consumed"> 
            {% for food in foods %}  
            <option value="{{food.name}}">{{food.name}}</option> 
           {% endfor %}
          </select>  
          <button class="btn btn-success" type="submit" >Add</button> 
        </div>
         </form> 
      </div>
    </div>
  </div>



    

     {% for c in consumed_food %} 
     {{c.food_consumed.name}} --> {{c.food_consumed.carbs}} --> {{c.food_consumed.protein}} --> {{c.food_consumed.calories}} <br>
     {% endfor %}
</body>
</html>